@()
<html>
<body>
  <table  style="width:50%">
    <tr>
      <td>Username:</td>
      <td><input type='text' id='userid' /></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><input type='password' id='password' autocomplete='off'/></td>
    </tr>
    <tr>
      <td><button id='loginButton'>Login</button></td>
      <td><div id="errorMsg"></div></td>
    </tr>
  </table>
  <table style="width:100%">
    <tr>
      <td>Auth Token:</td>
      <td>Decoded Auth Token:</td>
    </tr>
    <tr>
      <td><textarea id='authToken' rows='10' style='width:100%'> </textarea></td>
      <td><textarea id='decodedAuthToken' rows='10' style='width:100%' readonly></textarea></td>
    </tr>
    <tr>
      <td>Refresh Token:</td>
      <td>Decoded Refresh Token:</td>
    </tr>
    <tr>
      <td><textarea id='refreshToken' rows='8' style='width:100%'></textarea></td>
      <td><textarea id='decodedRefreshToken' rows='8' style='width:100%' readonly></textarea></td>
    </tr>
    <tr>
      <td>CSRF Token:</td>
    </tr>
    <tr>
      <td><textarea id='csrfToken' rows='1' style='width:50%'></textarea></td>
    </tr>
    <tr>
      <td><button id='refreshButton'>Refresh</button></td>
    </tr>
  </table>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js" integrity="sha384-R4/ztc4ZlRqWjqIuvf6RX5yb/v90qNGx6fS48N0tRxiGkqveZETq72KgDVJCp2TC" crossorigin="anonymous"></script>
  <script src="@routes.Assets.at("javascript/login.js")"></script>
</body>
</html>

